InterviewConsoleBackup/InterviewConsole/Connected Services/ServiceReference1/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployeeModel" />
      <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ManagerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeModel" nillable="true" type="tns:EmployeeModel" />
  <xs:complexType name="ArrayOfEmployeeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeModel" nillable="true" type="tns:EmployeeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeModel" nillable="true" type="tns:ArrayOfEmployeeModel" />
</xs:schema>